/* montserrat-regular - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v26-cyrillic-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* montserrat-600 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/montserrat-v26-cyrillic-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* montserrat-700 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v26-cyrillic-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* montserrat-800 - cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/montserrat-v26-cyrillic-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --black: #000000;
    --white: #ffffff;
    --orange: #FF9900;
}

* {
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
}

.container{
    /* max-width: 1770px; */
    padding: 0 15px;
    max-width: 1800px;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
}

.btn{
    background-color: var(--orange);
    color: var(--white);
    font-size: 23px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    padding: 18.57px, 37.14px, 18.57px, 37.14px;
    border-radius: 16px;
    cursor: pointer;
    /* display: inline-block; */
    width: 280px;
    height: 78px;
    border: none;
}

h2{
    font-size: 48px;
    font-weight: 400;
    line-height: 59px;
    text-align: left;
}

p{
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    text-align: left;
}

h2,p{
    margin: 0;

}

/* Header */

.header{
    height: 111px;
    box-shadow: 0px 5px 40px 0px #0000001A;
    border-radius: 0 0 32px 32px;
    margin-bottom: 50px;
    width: 100%;
}

.header__container{
    height: 100%;
    align-items: center;
}

.header__logo{
    margin-right: auto;
}


.header__nav{
    margin-right: 260px;

}

.header__nav__list{
    display: flex;
    white-space: nowrap;
}

.header__nav__item{
    /* flex: auto; */
}

.header__nav__item:not(:last-child){
    margin-right: 85px;
}

.header__nav__link{
    color: var(--black);
    font-size: 18px;
    line-height: 21.94px;
    font-weight: 600;
}

.header__search {
    /* margin-left: 260px; */
    width: 25px;
    height: 25px;
    background: url(../img/Search.svg) center center no-repeat transparent;
    background-size: contain;
    border: none;
}

/* HERO */

.hero{
    margin-bottom: 50px;
}

.hero__container {
    background: url(../img/hero/hero1.png) center center no-repeat transparent;
    background-size: cover;
    border-radius: 32px;
    padding-top: 100px;
}

.hero_content{
    padding-left: 65px;
}

.hero__heading{
    color: var(--white);
    font-size: 70px;
    font-weight: 800;
    line-height: 85.33px;
    margin: 0;

}

.hero__discription{
color: var(--white);
font-size: 24px;
font-weight: 700;
line-height: 29px;
max-width: 790px;
margin: 24px 0;
}

.hero__btn{
    margin-top: 90px;
    margin-bottom: 100px;
}

/* About */
.about__top__heading{
    margin-bottom: 20px;
}

.about__top__discription{
    max-width: 1235px;
}